<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lobster+Two&family=Yomogi&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" integrity="sha512-UyNhw5RNpQaCai2EdC+Js0QL4RlVmiq41DkmCJsRV3ZxipG2L0HhTqIf/H9Hp8ez2EnFlkBnjRGJU2stW3Lj+w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="/public/stylesheets/style.css">
        <title>My Furfile</title>
        <link rel="icon" href="/public/images/paw.png">
    </head>

    <body>
        <header class="header">
            <h1 id="top" class="furfile">Furfile</h1>
            <img src="/public/images/paw with heart.jpg" alt="Avatar" class="avatar">
            <!--Standard Header Buttons-->
            <div class="container-fluid">
                <div class="row">
                    <div class="d-flex bd-highlight mb-4">
                        <div class="me-auto p-2 bd-highlight">
                            <a href="./home.html">
                            <input type="image" src="/public/images/home.png" width="100" height="75" name="homeButton" class="btTxt submit" id="homeButton">
                            </a>
                        </div>
                        <div class="ms-auto p-2 bd-highlight">
                            <a href="./about-us.html">
                                <input type="image" src="/public/images/aboutUs.png" width="100" height="75" name="aboutUsButton" class="btTxt submit" id="aboutUsButton">
                            </a>
                        </div>
                    </div> 
                </div>
            </div>
        </header>
        
        <div>
            <!-- Create the buttons to become the tags -->
            <button class="tab" onclick="openPage('My-Fav-Links', this, '#EDECEF')" >My Fav Links!</button> 
            <button class="tab" onclick="openPage('Furfriends', this, '#D16E79')">Furfriends</button>
            <button class="tab" onclick="openPage('Calendar', this, '#ffffff')" id="defaultOpen">Calendar</button>
            <button class="tab" onclick="openPage('Puppy-Diaries', this, '#A9C2B9')">Puppy Diaries</button>
            <button class="tab" onclick="openPage('Bark-Chronicles', this, '#242F48')">Bark Chronicles</button>
            <button class="tab" onclick="openPage('Social-Media', this, 'black')">Social Media</button>
        </div>

        <section>
            <!-- Create the content for the tabs -->
            <div id="My-Fav-Links" class="content" >
                <h4 style="font-weight: bold;">Take a Look!</h4>
                <a href="https://www.bringfido.com/track?aid=XXX"><img src="https://media.bringfido.com/banners/1.jpg" border="0" alt="Dog with it's tounge sticking out for the Bring Fido Pet Friendly Vacations webiste banner."/></a>
                <a href="https://www.petsit.com/stuff/contentmgr/files/9/818a6902cce41bd28aeb85c760810099/files/janfeb2020_pet_sitters_world_magazine_download.pdf"><img src="./assets/images/Pet Sitter's World Magazine.png" width="15%" height="15%" alt="A woman walking her german shephard dog on the cover of Pet Sitter's World magazine"></a>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem quisquam in laudantium libero aspernatur sed ea quos harum voluptates totam laborum corrupti repellendus eius aliquid itaque error voluptas, reiciendis unde.</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem quisquam in laudantium libero aspernatur sed ea quos harum voluptates totam laborum corrupti repellendus eius aliquid itaque error voluptas, reiciendis unde.</p>
            </div>

            <div id="Furfriends" class="content">
                <h4 style="font-weight: bold;">Meet my peeps!</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem quisquam in laudantium libero aspernatur sed ea quos harum voluptates totam laborum corrupti repellendus eius aliquid itaque error voluptas, reiciendis unde.</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem quisquam in laudantium libero aspernatur sed ea quos harum voluptates totam laborum corrupti repellendus eius aliquid itaque error voluptas, reiciendis unde.</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem quisquam in laudantium libero aspernatur sed ea quos harum voluptates totam laborum corrupti repellendus eius aliquid itaque error voluptas, reiciendis unde.</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem quisquam in laudantium libero aspernatur sed ea quos harum voluptates totam laborum corrupti repellendus eius aliquid itaque error voluptas, reiciendis unde.</p>
            </div>

            <div id="Calendar" class="content">
                <div class="elfsight-app-a2f34c6d-37f1-4a77-8fad-88b20a3cb920"></div>
            </div>

            <div id="Puppy-Diaries" class="content">
                <!-- Journal Post Begins -->
                <main class="col-12 col-lg-12 d-inline-flex flex-column">
                    <div class="m5 row justify-content-between">
                        <div class="col-12 col-md-6 col-xl-3 mb-3">
                            <div class="card">
                                <h4 class="post-title" style="font-weight: bold;">Guess what I did today!</h4>
                                <ul id="list-today" class="list-group list-group-flush"></ul>
                                <div>error</div>
                            <!--   <li id="post-item" class="add-post"></li> -->
                                <button type="submit" class="btn btn-today" id="btn-add" data-target="#post-modal" data-toggle="modal">Add Post</button>
                            </div>
                        </div> 
                        
                        <div class="col-12 col-md-6 col-xl-3 mb-3">
                            <div class="card">
                                <h4 style="font-weight: bold;">My Plans for Tomorrow!</h4>
                                <ul id="list-tomorrow" class="list-group">
                                <li class="add-post">post2</li>
                                </ul>
                                <button type="submit" class="btn btn-tomorrow" id="btn-2-add" data-target="#post-modal2" data-toggle="modal">Add Post</button>
                            </div>
                        </div>
                        
                        <div class="col-12 col-md-6 col-xl-3 mb-4">
                            <div class="card">
                                <h4 style="font-weight: bold;">Bucket List!</h4>
                                <ul id="list-future" class="list-group"></ul>
                                <button type="submit" class="btn btn-future" id="btn-future-add" data-target="#future-modal" data-toggle="modal">Add Post</button>
                            </div>
                        </div>
                    </div>
                </main>

                <!-- Modal Begins -->
                <!-- Today Modal-->
                <div class="modal fade" id="post-modal" tabindex="-1" role="dialog" aria-labelledby="post-modal" aria-hidden="true">
                    <div class="modal-dialog modal-lg class">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="todayPost">Today</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                            </div>
                            <div class="modal-body">
                                <form id="post-modal">
                                    <div class="form-group">
                                        <label for="date-of-post" input type="text" id="datepicker">Date of Post</label>
                                        <input type="text" class="form-control" placeholder="mm/dd/yyyy" id="date-of-post" autocomplete="off" required="required">
                                    </div>

                                    <div class="form-group">
                                        <label for="post-description">Post Description</label>
                                        <textarea class="form-control" id="post-description" cols="5" rows="5" required="required"></textarea>
                                    </div>                                  
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-tell-today" id="btn-post-today" data-dismiss="modal">Tell 'em!</button>
                                <button type="button" class="btn btn-just-today" id="btn-cancel-today" data-dismiss="modal">Just Kidding.</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Tomorrow Modal-->
                <div class="modal fade" id="post-modal2" tabindex="-1" role="dialog" aria-labelledby="post-modal2" aria-hidden="true">
                    <div class="modal-dialog modal-lg class">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="tomorrowPost">Tomorrow</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="date-of-post" input type="text" id="datepicker2">Date of Post</label>
                                        <input type="text" class="form-control" placeholder="mm/dd/yyyy" id="date-of-post2" autocomplete="off">
                                    </div>

                                    <div class="form-group">
                                        <label for="post-description2">Post Description</label>
                                        <textarea class="form-control" id="post-description2" cols="5" rows="5"></textarea>
                                    </div>                                  
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-2-post" id="btn-post-tomorrow" data-dismiss="modal">Tell 'em!</button>
                                <button type="button" class="btn btn-2-cancel" id="btn-cancel-tomorrow" data-dismiss="modal">Just Kidding.</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Bucket List Modal-->
                
                <div class="modal fade" id="future-modal" tabindex="-1" role="dialog" aria-labelledby="future-modal" aria-hidden="true">
                    <div class="modal-dialog modal-lg class">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="future-Post">Future</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="future-post" input type="text" id="future-datepicker">Date of Post</label>
                                        <input type="text" class="form-control" placeholder="mm/dd/yyyy" id="future-post" autocomplete="off">
                                    </div>

                                    <div class="form-group">
                                        <label for="future-description">Post Description</label>
                                        <textarea class="form-control" id="future-description" cols="5" rows="5"></textarea>
                                    </div>                                  
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-to-post" id="btn-post-future" data-dismiss="modal">Tell 'em!</button>
                                <button type="button" class="btn btn-to-cancel" id="btn-cancel-future" data-dismiss="modal">Just Kidding.</button>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>

            <div id="Bark-Chronicles" class="content">
                <h4 style="font-weight: bold;">Look what our humans talk about!</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem quisquam in laudantium libero aspernatur sed ea quos harum voluptates totam laborum corrupti repellendus eius aliquid itaque error voluptas, reiciendis unde.</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem quisquam in laudantium libero aspernatur sed ea quos harum voluptates totam laborum corrupti repellendus eius aliquid itaque error voluptas, reiciendis unde.</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem quisquam in laudantium libero aspernatur sed ea quos harum voluptates totam laborum corrupti repellendus eius aliquid itaque error voluptas, reiciendis unde.</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem quisquam in laudantium libero aspernatur sed ea quos harum voluptates totam laborum corrupti repellendus eius aliquid itaque error voluptas, reiciendis unde.</p>
            </div>

            <div id="Social-Media" class="content container-fluid">
                <h4 style="font-weight: bold;">Stay in touch!</h4>
                <div class="icons">
                    <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
                    <a href="https://www.youtube.com/" class="fa fa-youtube"></a>
                    <a href="https://www.pinterest.com/" class="fa fa-pinterest"></a>
                    <a href="https://www.instagram.com/" class="fa fa-instagram"></a>
                    <a href="https://twitter.com/" class="fa fa-twitter"></a>
                    <a href="https://www.snapchat.com/" class="fa fa-snapchat-ghost"></a>
                </div>

                <!-- Social Media Widget to display post -->
                <div class="elfsight-app-999183b6-b289-4ff7-bc35-3fcaa73a97eb"></div>
            </div>

        </section>        
        <footer class="footer">
            <div class="d-flex flex-row bd-highlight mb-6 justify-content-between">
                <img src="/public/images/paw.png">
                <div class="p-2 bd-highlight"><a href="./home.html">Home</a></div>
                <div class="p-2 bd-highlight"><a href="./about-us.html">About Us</a></div>
        <!--    <div class="p-2 bd-highlight"><a href="">Puppy Recommendations</a></div> -->
                <img src="/public/images/paw.png">
            </div>
            <h2>
                Made for your fur babies by Team "Refreshed"
            </h2>

            <!-- Link to top of page and to return to home page -->
            <div>
                <h4>
                    <a href="#top">Top</a><br />
                    &copy; 2021 Puppy Love
                </h4>
            </div>
        </footer>

        <script src="https://apps.elfsight.com/p/platform.js" defer></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        
        <!-- check -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    
        <script src="/javascript/furfile.js"></script>

    </body>
</html>

<!-- live chat code is <div class="elfsight-app-19938a6a-895b-4116-8a08-00eb42201903">hello</div>
-->