<!--Welcome Section-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <img src="images/petPic3.jpg" width="750" height="450" class="align-center">
      </div>
      <div class="col-1"></div>
      <div class="col-5">
        <div class="card text-center">
          <div class="card-header">
            Welcome to PuppyLove!
          </div>
          <div class="card-body">
            <h5 class="card-title">Join Our Community!</h5>
            <p class="card-text">We provide a safe place for Furbabies and Furfamilies to connect!</p>
            <a href="#login.html" class="btn btn-primary">Login Here!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <!-- "what you do" section -->
  <section id="what-you-do" class="steps">
      <img src="images/loginLogo.png">
      <h2><span>Get Started!</span></h2><br>
    <div>
      <img src="images/profileIcon.png">
      <h3><span>Create a Furfile!</span></h3>
      <p>Upload cute pictures of your Furbaby, fill out a bio, and provide facts about your Furbaby to showcase their personalities!</p>
    </div>
    <div>
      <img src="images/229116-200.png">
      <h3><span>Fill Out a Furbaby Questionnaire</span></h3>
      <p>Answer a few questions to get the best Furfamily recommendations and get to know your community better!</p>
    </div>
    <div>
      <img src="images/add-location.png">
      <h3><span>Find Furfamily Friendly Places</span></h3>
      <p>Attend Furfamily friendly events, cafés, parks, and socials! Help other Furfamilies by leaving a review and rating your exprience!</p>
    </div>
    <div>
      <img src="images/meet.png">
      <h3><span>Meet other Furbabies and Furfamilies</span></h3>
      <p>Enjoy meeting other Furfamilies and creating a meaningful community!</p>
    </div>
  </section>
