<form class="signup-form">
<div class="container-fluid" style="border:1px solid #030303;" id="signUpForm">
            <form class="row g-3">
                <div class="col-12">
                    <label for="inputEmail" class="form-label">Email:</label>
                    <input type="email" class="form-control" id="inputEmail">
                  </div>
                      <div class="col-12">
                        <label for="inputPassword4" class="form-label">Password:</label>
                        <input type="password" class="form-control" id="inputPassword4">
                      </div>
                  <div class="col-md-6">
                    <label for="inputDogName" class="form-label">Dog Name:</label>
                    <input type="text" class="form-control" id="inputDogName">
                  </div>
                  <div class="col-md-4">
                    <label for="inputDogAge" class="form-label">Dog Age:</label>
                    <input type="text" class="form-control" id="inputDogAge">
                  </div>
                  <div class="col-md-2">
                    <label for="inputBreed" class="form-label">Breed:</label>
                    <select id="inputBreed" class="form-select">
                      <option selected>Choose...</option>
                      <option>...</option>
                    </select>
                  </div>
                  <div class="form-floating">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingBio" style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Tell us about your dog</label>
                  </div>
                  <div class="col-md-6">
                    <label for="inputCity" class="form-label">City:</label>
                    <input type="text" class="form-control" id="inputCity">
                  </div>
                  <div class="col-md-4">
                    <label for="inputState" class="form-label">State:</label>
                    <select id="inputState" class="form-select">
                      <option selected>Choose...</option>
                      <option>...</option>
                    </select>
                  </div>
                  <div class="col-md-2">
                    <label for="inputZip" class="form-label">Zip:</label>
                    <input type="text" class="form-control" id="inputZip">
                  </div>
                <button type="submit" style="border:1px solid #030303;" class="btn">Create Account!</button>
                <div>
                  <input type="image" src="assets/images/signUp.png" name="saveForm" class="btTxt submit" id="saveForm" />
              </div>
            </form>
        </div>
        </div>
</form>