* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Helvetica, Arial, sans-serif;
  }

    /*Hero-section*/
  .hero-head {
    text-align: center;
    background-color: rgb(107, 188, 181);
  }
.navbar-bg {
    background-color: rgb(107, 188, 181);
}
  .hero-body-background {
    text-align: center;
    background-color: white;
  }

  .btn-primary {
     background-color: rgb(107, 188, 181);
     color: rgb(209,110,121);
  }
  .hero-login {
    background-color: rgb(107, 188, 181);
    text-align: center;
  }
/*How-To Section Home Page*/
  section {
    padding: 60px;
    background-color: rgb(169,194,185);
  }
  .steps {
    text-align: center;
  }
  .steps div {
    margin-bottom: 80px;
  }
  .steps img {
    width: 15%;
    margin: 10px 0;
  }
  .steps h3 {
    font-size: 46px;
    margin-top: 10px;
  }
  .steps p {
    font-size: 23px;
  }
  .steps span {
    font-size: 38px;
  }
  .section-title {
    font-size: 55px;
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    display: inline-block;
  }

  /*Footer Section*/
  footer {
    width: 100%;
    padding: 40px 35px;
  }
  footer img {
    width: 15%;
    margin: 10px 0;
  }
  footer h3 {
    display: inline;
    font-size: 30px;
    margin: 0;
  }
  footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
  }